In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/news-article-data-set-from-indian-express/News_Articles_Indian_Express.csv
/kaggle/input/news-summary/news_summaries.csv
/kaggle/input/cnn-news18-headlines-with-descriptions/cnn_news18_headlines.csv

In [2]:
df1 = pd.read_csv('/kaggle/input/news-article-data-set-from-indian-express/News_Articles_Indian_Express.csv')
df2 = pd.read_csv('//kaggle/input/cnn-news18-headlines-with-descriptions/cnn_news18_headlines.csv')
df3 = pd.read_csv('/kaggle/input/news-summary/news_summaries.csv')

<h2>Dataset 1</h2>

In [3]:
df1.head()

,Unnamed: 0,article_id,headline,desc,date,url,articles,article_type,article_length
0,0,INDEXP20000,"Trainer aircraft crashes in Odisha, 2 killed",The two were taken to a nearby hospital in Kam...,"June 8, 2020 11:06:53 am",https://indianexpress.com/article/india/traine...,A two-seater aircraft crashed in Odisha's Dhen...,short,753
1,1,INDEXP19999,Uttarkhand unlock 1.0: Hotel bookings for mini...,All hotels/ B&B/ Homestay & hospitality servic...,"June 8, 2020 11:03:16 am",https://indianexpress.com/article/india/touris...,Hotels located in non-containment zones can re...,long,2424
2,2,INDEXP19998,J-K: Four Hizbul militants killed in Shopian e...,The gunfight comes a day after five militants ...,"June 8, 2020 9:53:14 am",https://indianexpress.com/article/india/shopai...,Four militants were killed and two security pe...,short,1088
3,3,INDEXP19997,"Mumbai offices to reopen today, with curbs",Mumbai Traffic Police have prepared for a surg...,"June 8, 2020 5:57:21 am",https://indianexpress.com/article/india/corona...,Private offices in Mumbai are set to reopen on...,mid,1802
4,4,INDEXP19996,"PDP, NC, PC call for release of all J&K leaders",Faesal and two PDP leaders—Peer Mansoor and Sa...,"June 8, 2020 4:35:23 am",https://indianexpress.com/article/india/pdp-nc...,Four days after bureaucrat-turned-politician S...,long,3045

In [4]:
df1.describe(include='object')

,article_id,headline,desc,date,url,articles,article_type
count,20000,20000,20000,20000,20000,20000,20000
unique,20000,19870,19924,19971,19977,19959,3
top,INDEXP20000,Kerala State Lottery Today Results announced: ...,What does the Constitution mean in their lives...,"June 8, 2020 11:06:53 am",https://indianexpress.com/article/india/traine...,A two-seater aircraft crashed in Odisha's Dhen...,long
freq,1,8,15,2,2,2,10248

In [5]:
df1.drop(columns=['Unnamed: 0', 'article_id', 'date', 'article_type', 'article_length', 'desc', 'url'], inplace=True)

In [6]:
df1.rename(columns={'headline':'title', 'articles':'content'}, inplace=True)

In [7]:
df1.head()

,title,content
0,"Trainer aircraft crashes in Odisha, 2 killed",A two-seater aircraft crashed in Odisha's Dhen...
1,Uttarkhand unlock 1.0: Hotel bookings for mini...,Hotels located in non-containment zones can re...
2,J-K: Four Hizbul militants killed in Shopian e...,Four militants were killed and two security pe...
3,"Mumbai offices to reopen today, with curbs",Private offices in Mumbai are set to reopen on...
4,"PDP, NC, PC call for release of all J&K leaders",Four days after bureaucrat-turned-politician S...

In [8]:
df1.describe(include='object')

,title,content
count,20000,20000
unique,19870,19959
top,Kerala State Lottery Today Results announced: ...,A two-seater aircraft crashed in Odisha's Dhen...
freq,8,2

<h2>Second dataset</h2>

In [9]:
df2.head()

,Unnamed: 0,date,headline,description
0,0,"July 29, 2023, 16:11 IST",First Six Months of 2023 Most Peaceful in J&K ...,According to the South Asia Terrorism Portal (...
1,1,"July 29, 2023, 15:46 IST",Buffer Zones Between Kuki-Meitei Camps Offer P...,In an effort to understand the steps taken by ...
2,2,"July 29, 2023, 00:26 IST",Pakistan Making Another Bid to Revive Separati...,Sources said Pakistan's Inter-Services Intelli...
3,3,"July 28, 2023, 17:52 IST",Udupi Video Case: BJP Worker Arrested for Dero...,"Speaking about the Udupi video case, the BJP w..."
4,4,"July 28, 2023, 17:17 IST","UCC May Not Touch Tribal Practices, Live-in Ti...",With the deadline for responding to Law Commis...

In [10]:
df2.describe(include='object')

,date,headline,description
count,390,390,390
unique,388,390,390
top,"July 01, 2023, 22:18 IST",First Six Months of 2023 Most Peaceful in J&K ...,According to the South Asia Terrorism Portal (...
freq,2,1,1

In [11]:
df2.drop(columns=['Unnamed: 0', 'date'], inplace=True)

In [12]:
df2.rename(columns={'headline':'title', 'description':'content'}, inplace=True)

In [13]:
df2.head()

,title,content
0,First Six Months of 2023 Most Peaceful in J&K ...,According to the South Asia Terrorism Portal (...
1,Buffer Zones Between Kuki-Meitei Camps Offer P...,In an effort to understand the steps taken by ...
2,Pakistan Making Another Bid to Revive Separati...,Sources said Pakistan's Inter-Services Intelli...
3,Udupi Video Case: BJP Worker Arrested for Dero...,"Speaking about the Udupi video case, the BJP w..."
4,"UCC May Not Touch Tribal Practices, Live-in Ti...",With the deadline for responding to Law Commis...

In [14]:
df2.describe(include='object')

,title,content
count,390,390
unique,390,390
top,First Six Months of 2023 Most Peaceful in J&K ...,According to the South Asia Terrorism Portal (...
freq,1,1

<h2>Dataset 3</h2>

In [15]:
df3.head()

,headlines,text,date,author,read_more
0,"CBI books Rajasthan CM's brother, 14 others in...",The CBI has registered a case against Rajastha...,"17 Jun 2022,Friday",Shreyasi Banerjee,https://www.timesnownews.com/india/cbi-raids-r...
1,Fan shares selfie taken by SRK with his father...,Twitter user Rohan Mukherjee shared that his f...,"17 Jun 2022,Friday",Daisy Mowke,NaN
2,European Commission recommends Ukraine be gran...,The European Commission on Friday recommended ...,"17 Jun 2022,Friday",Athira Sasidharan,https://www.reuters.com/world/europe/europe-st...
3,Jos Buttler smashes England's second-fastest O...,England's Jos Buttler on Friday smashed the se...,"17 Jun 2022,Friday",Anmol Sharma,https://www.icc-cricket.com/match/34010?utm_ca...
4,Paytm CEO Vijay Shekhar buys 1.7 lakh shares o...,Paytm Founder and CEO Vijay Shekhar Sharma has...,"17 Jun 2022,Friday",Hiral Goyal,https://www.financialexpress.com/market/vijay-...

In [16]:
df3.describe(include='object')

,headlines,text,date,author,read_more
count,40527,40527,40527,40527,35018
unique,15791,15792,59,43,13405
top,"CBI books Rajasthan CM's brother, 14 others in...",The CBI has registered a case against Rajastha...,"14 Jun 2022,Tuesday",Anmol Sharma,https://www.mohfw.gov.in/?utm_campaign=fullart...
freq,5,5,1456,2651,56

In [17]:
df3.drop(columns=['date', 'author', 'read_more'], inplace=True)

In [18]:
df3.rename(columns={'headlines':'title', 'text':'content'}, inplace=True)

In [19]:
df3.head()

,title,content
0,"CBI books Rajasthan CM's brother, 14 others in...",The CBI has registered a case against Rajastha...
1,Fan shares selfie taken by SRK with his father...,Twitter user Rohan Mukherjee shared that his f...
2,European Commission recommends Ukraine be gran...,The European Commission on Friday recommended ...
3,Jos Buttler smashes England's second-fastest O...,England's Jos Buttler on Friday smashed the se...
4,Paytm CEO Vijay Shekhar buys 1.7 lakh shares o...,Paytm Founder and CEO Vijay Shekhar Sharma has...

In [20]:
df3.describe(include='object')

,title,content
count,40527,40527
unique,15791,15792
top,"CBI books Rajasthan CM's brother, 14 others in...",The CBI has registered a case against Rajastha...
freq,5,5

Now merging all the three datatframes

In [21]:
df = pd.concat([df1, df2, df3], ignore_index=True)

In [22]:
for i in range(0, len(df)):
    df.iloc[i, 1] = df.iloc[i, 1][:550]

In [23]:
df.head()

,title,content
0,"Trainer aircraft crashes in Odisha, 2 killed",A two-seater aircraft crashed in Odisha's Dhen...
1,Uttarkhand unlock 1.0: Hotel bookings for mini...,Hotels located in non-containment zones can re...
2,J-K: Four Hizbul militants killed in Shopian e...,Four militants were killed and two security pe...
3,"Mumbai offices to reopen today, with curbs",Private offices in Mumbai are set to reopen on...
4,"PDP, NC, PC call for release of all J&K leaders",Four days after bureaucrat-turned-politician S...

In [24]:
df.describe(include='object')

,title,content
count,60917,60917
unique,36051,36103
top,Kerala State Lottery Today Results announced: ...,"Resident, usual resident; citizen, non-citizen..."
freq,8,11

In [25]:
df = df.drop_duplicates(subset='title')

In [26]:
df.insert(0, 'labels', '')

In [27]:
df.describe(include='object')

,labels,title,content
count,36051,36051,36051
unique,1,36051,36005
top,,"Trainer aircraft crashes in Odisha, 2 killed","Resident, usual resident; citizen, non-citizen..."
freq,36051,1,11

In [28]:
df.head()

,labels,title,content
0,,"Trainer aircraft crashes in Odisha, 2 killed",A two-seater aircraft crashed in Odisha's Dhen...
1,,Uttarkhand unlock 1.0: Hotel bookings for mini...,Hotels located in non-containment zones can re...
2,,J-K: Four Hizbul militants killed in Shopian e...,Four militants were killed and two security pe...
3,,"Mumbai offices to reopen today, with curbs",Private offices in Mumbai are set to reopen on...
4,,"PDP, NC, PC call for release of all J&K leaders",Four days after bureaucrat-turned-politician S...

<b>So, `36051/3 = 12017` for each person</b>

In [29]:
df_aanshu = df[:12017]
df_vansh = df[12017:24034]
df_twisha = df[24034:]

In [30]:
df_aanshu.describe(include='object')

,labels,title,content
count,12017,12017,12017
unique,1,12017,11982
top,,"Trainer aircraft crashes in Odisha, 2 killed","Resident, usual resident; citizen, non-citizen..."
freq,12017,1,11

In [31]:
df_vansh.describe(include='object')

,labels,title,content
count,12017,12017,12017
unique,1,12017,12006
top,,Molestation attempt on board Kallada bus in Ke...,The Uttarakhand government is all set to notif...
freq,12017,1,2

In [32]:
df_twisha.describe(include='object')

,labels,title,content
count,12017,12017,12017
unique,1,12017,12017
top,,"SRPF jawan shoots colleague dead, kills self i...",A 35-year-old State Reserve Police Force (SRPF...
freq,12017,1,1

In [33]:
df_aanshu.to_csv('aanshu.csv')
df_vansh.to_csv('vansh.csv')
df_twisha.to_csv('twisha.csv')

<h2>Making labels of dataset</h2>

In [34]:
ministry_list = ['Ministry of Railways',
                 'Ministry of Rural Development',
                 'Ministry of Steel',
                 'Ministry of Science & Technology',
                 'Ministry of Information & Broadcasting',
                 'Ministry of Food Processing Industries',
                 'Ministry of Health and Family Welfare',
                 'Ministry of Human Resource Development',
                 'Ministry of Agriculture',
                 'Ministry of Environment and Forests',
                 'Ministry of Chemicals and Fertilizers',
                 'Ministry of Water Resources',
                 'Ministry of Defence',
                 'Ministry of Petroleum & Natural Gas',
                 "President's Secretariat",
                 'Ministry of Micro,Small & Medium Enterprises',
                 'Ministry of Mines',
                 'Ministry of Tourism',
                 'Ministry of Housing & Urban Affairs',
                 'Ministry of Coal',
                 "Prime Minister's Office",
                 'Ministry of Textiles',
                 'Ministry of Commerce & Industry',
                 'Ministry of External Affairs',
                 'Ministry of Social Justice & Empowerment',
                 'Ministry of Power',
                 'Ministry of Consumer Affairs, Food & Public Distribution',
                 'Ministry of Heavy Industries & Public Enterprises',
                 'Ministry of Communications',
                 'Ministry of Shipping',
                 'Ministry of Finance',
                 'Ministry of Tribal Affairs',
                 'Ministry of Statistics & Programme Implementation',
                 'Ministry of Labour & Employment',
                 'Ministry of Law & Justice',
                 "Vice President's Secretariat",
                 'Ministry of Civil Aviation',
                 'Ministry for Development of North-East Region',
                 'UPSC',
                 'Ministry of Agro & Rural Industries',
                 'Ministry of Home Affairs',
                 'Ministry of Youth Affairs and Sports',
                 'Special Service and Features',
                 'Ministry of New and Renewable Energy',
                 'Ministry of Parliamentary Affairs',
                 'Planning Commission',
                 'Ministry of Personnel, Public Grievances & Pensions',
                 'Election Commission',
                 'Department of Space',
                 'Ministry of Disinvestment',
                 'Department of Ocean Development',
                 'Ministry of Overseas Indian Affairs',
                 'Ministry of Housing and Urban Poverty Alleviation',
                 'Ministry of Culture',
                 'Ministry of Company Affairs',
                 'Ministry of Panchayati Raj',
                 'Cabinet Committee on Economic Affairs (CCEA)',
                 'Cabinet',
                 'Department of Atomic Energy',
                 'Cabinet Committee Decisions',
                 'No Ministry'
                ]

df_ministry_label = pd.DataFrame(ministry_list)

In [35]:
df_ministry_label.head()

                                        0
0                    Ministry of Railways
1           Ministry of Rural Development
2                       Ministry of Steel
3        Ministry of Science & Technology
4  Ministry of Information & Broadcasting

In [36]:
# df_ministry_label['label'] =range(1, len(df_ministry_label) + 1)

In [37]:
df_ministry_label.head()

                                        0
0                    Ministry of Railways
1           Ministry of Rural Development
2                       Ministry of Steel
3        Ministry of Science & Technology
4  Ministry of Information & Broadcasting

In [38]:
df_ministry_label.tail()

                                               0
56  Cabinet Committee on Economic Affairs (CCEA)
57                                       Cabinet
58                   Department of Atomic Energy
59                   Cabinet Committee Decisions
60                                   No Ministry

In [39]:
df_ministry_label.to_csv('ministry_label.csv')